* {
    margin: 0;
    padding: 0;
    background-size: cover;
    text-decoration: none;
    scroll-behavior: smooth;
}

.head {
    height: 600px;
    background-image: url("img/Дизайн\ без\ названия.png");
}

.name h1 {
    position: absolute;
    margin: 230px 330px;
    width: max-content;
    font-size: 100px;
    color: #cf50d1;
}

.name h2 {
    position: absolute;
    margin: 350px 475px;
    font-size: xx-large;
    width: max-content;
    color: #cf50d1;
}

.name h2 {
    animation: n 3s infinite alternate-reverse;
    opacity: 0;
    animation: o 2s forwards;
}

.name h1 {
    animation: n 3s infinite alternate-reverse;
    opacity: 0;
    animation: o 3s forwards;
}

@keyframes o {
    0% {
        color: #FDB99B;
        opacity: 0;
    }

    100% {
        color: #CF8BF3;
        opacity: 1;
    }
}

.head_two {
    height: 70px;
    border-bottom: 3px #fc68ff solid;
}

.logo {
    background: url("img/Добавить\ подзаголовок.png");
    width: 130px;
    height: 130px;
    background-size: cover;
    border-radius: 100px;
    position: absolute;
    margin: 10px 560px;
}

.menu {
    display: flex;
    margin: 25px -65px;
    position: absolute;
    list-style: none;
}

li {
    margin-left: 205px;
    animation: m 3s infinite alternate-reverse;
    color: #3b0056;
}

@keyframes m {
    0% {
        color: #A770EF;
        border-radius: 5px;
    }

    50% {
        color: #CF8BF3;
        border-radius: 5px;
    }

    100% {
        color: #FDB99B;
        border-radius: 5px;
    }
}

li:hover {
    border: 2px #A770EF solid;
}

.sec {
    height: 600px;
    animation: s 2s infinite alternate-reverse;
}

@keyframes s {
    0% {
        top: 0px;
        background-color: #ad5389;
    }

    100% {
        top: 200px;
        background-color: #3c1053;
    }
}

.text {
    position: absolute;
    margin: 250px 100px;
    font-size: 30px;
    color: #FDB99B;
}

.img {
    height: 402px;
    width: 355px;
    border: 2px #FDB99B solid;
    position: absolute;
    margin: 100px 800px;
}

.block {
    width: 354px;
    height: 132px;
    border: 1px #FDB99B solid;
}

.one {
    background-image: url("img/bad90deefe.jpg");
    animation: bo 2s infinite alternate-reverse;
}

.two {
    background-image: url("img/xxl-1-6_e04de37f3c4ad3ca11453fada2d1af2b.jpg");
    animation: bo 2s infinite alternate-reverse;
}

.three {
    background-image: url("img/photo-cyber-clubSR1.jpg");
    animation: bo 2s infinite alternate-reverse;
}

@keyframes bo {
    0% {
        background-position-y: -105px;
    }

    100% {
        background-position-y: 0px;
    }
}

.sec2 {
    height: 700px;
    animation: s2 2s infinite alternate-reverse;
}

@keyframes s2 {
    0% {
        top: 0px;
        background-color: #cc2b5e;
    }

    100% {
        top: 200%;
        background-color: #753a88;
    }
}

.main_block {
    height: 600px;
    width: 1100px;
    margin: 50px 80px;
    position: absolute;
    display: flex;
}

.blocks {
    border-radius: 5px;
    width: 550px;
}

.mini_block {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 1px #FDB99B solid;
    margin: 60px 170px;
}

.bl1 {
    background-image: url("img/dsc4025.jpg");
}

.bl2 {
    background-image: url("img/XXL.jpg");
}

.bl3 {
    background-image: url("img/h220.jpg");
}

.bl4 {
    background-image: url("img/6aef53ad7b85b5cf307cd91435ac0b62-300x200.jpg");
}

.h2 {
    margin: 220px 23px;
    position: absolute;
    color: #FDB99B;
}

.sec3 {
    height: 600px;
    animation: s3 2s infinite alternate-reverse;
}

@keyframes s3 {
    0% {
        top: 0px;
        background-color: #ad5389;
    }

    100% {
        top: 200px;
        background-color: #3c1053;
    }
}

.gallery2 {
    color: #fdb99b;
    margin: 70px 45%;
    position: absolute;
}

.h {
    height: 450px;
    border: 1px black solid;
    margin-top: 148px;
    position: absolute;
    width: 1261px;
}

.qwe {
    height: 223px;
    border: 1px white solid;
    display: flex;
}

.q {
    height: 170px;
    border: 1px black solid;
    width: 250px;
    margin: 25px 85px;
}

.q:hover {
    transition: 2s;
    width: 900px;
    height: 300px;
    z-index: 10;
}

.q1 {
    background-image: url("img/Colizeum.jpg");
}

.q2 {
    background-image: url("img/Colizeum1.jpg");
}

.q3 {
    background-image: url("img/Colizeum2.jpg");
}

.q4 {
    background-image: url("img/Colizeum3.jpg");
}

.q5 {
    background-image: url("img/Colizeum4.jpg");
}

.q6 {
    background-image: url("img/Colizeum5.jpg");
}

.sec4 {
    height: 600px;
    background-image: url("img/Дизайн\ без\ названия\ \(1\).png");
}

.text2 {
    position: absolute;
    margin: 50px 310px;
    width: max-content;
    font-size: 50px;
    color: #FDB99B;
}

.arr {
    width: min-content;
    margin: 210px 580px;
    position: absolute;
}

.arrow {
    width: 60px;
    height: 60px;
    border-top: 10px solid #6E18C0;
    border-right: 10px solid #6E18C0;
    transform: rotate(135deg);
    animation: a 3s infinite;
}

@keyframes a {
    0% {
        color: #A770EF;
    }

    50% {
        color: #CF8BF3;
    }

    100% {
        color: #FDB99B;
    }
}

.btn {
    font-size: 40px;
    position: absolute;
    margin: 480px 530px;
    background-color: transparent;
    color: #FDB99B;
    border: 5px #FDB99B solid;
    border-radius: 10px;
    position: relative;
    overflow-x: hidden;
}

.btn .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: b 2s infinite linear;
}

@keyframes b {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
    border-color: #6E18C0;
    color: #6E18C0;
    background-color: #FDB99B;
}

.foo {
    height: 200px;
    background-color: #772880;
}

.cont {
    position: absolute;
    font-size: 20px;
    margin: 45px 130px;
    color: #FDB99B;
}